$principal: rgb(64, 129, 69);
$primary: $principal;
$enable-shadows: tru;
$enable-gradients: tru;
$btn-padding-y: 0.8rem;
$btn-padding-x: 1.8rem;
$btn-border-radius: 1rem;


@import "../libs/bootstrap/scss/bootstrap";

.btn-primary{
    border-bottom: 3px solid rgba(10, 9, 9, 0.9);
}

.custom-class{
    display: none;
}

@include media-breakpoint-up(xs){
    .custom-class{
        display: block;
        background-color: #cfc171;
        height: 300px;
    }
}

@include media-breakpoint-up(sm){
    .custom-class{
        display: block;
        background-color: blue;
        height: 200px;
    }
}
@include media-breakpoint-up(md){
    .custom-class{
        display: flex;
        background-color: green;
        height: 200px;
    }
}
@include media-breakpoint-up(lg){
    .custom-class{
        display: flex;
        background-color: palevioletred;
        height: 200px;
    }
}